<div class="row">
  <div class="col-4 text-center">
    <form>
      <div class="form-group">
        <h3>Add a burger.</h3>
        <input class="form-control" type="text" id="burger-input" placeholder="Create your burger here"/>
        <button class="btn btn-block btn-success" id="submit-btn">Add Burger</button>
      </div>
    </form>
  </div>
  <div class="col-4">
    <h3>Burger menu</h3>
    <ul class="list-group">
    {{#each burgers}}
      {{#unless eaten}}
        <li class="list-group-item">
          {{burger_name}} 
          
          <br />
          <button data-id="{{id}}" class="mark-eaten btn btn-info"><i class="fas fa-hamburger"></i> Eat this burger</button>
          <button data-id="{{id}}" class="delete btn btn-danger"><i class="fas fa-trash-alt"></i> Trash this burger </button>
        </li>
      {{/unless}}
    {{/each}}
    </ul>
  </div>
  <div class="col-4">
    <h3>Burgers eaten</h3>
    <ul class="list-group">
      {{#each burgers}}
      {{#if eaten}}
      <li class="list-group-item">
        {{burger_name}}
        
        <br />
        <button data-id="{{id}}" class="delete btn btn-danger"><i class="fas fa-toilet"></i> Eliminate this burger </button>
      </li>
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>